generator.sln
.vs/generator/FileContentIndex/96156399-9d3c-4716-9bd6-d7732c2a6110.vsidx
.vs/generator/FileContentIndex/e6194f49-4a35-4f7e-95c0-3e4f4bd90a63.vsidx
.vs/generator/FileContentIndex/read.lock
.vs/generator/v17/.suo
api/obj/api.csproj.nuget.dgspec.json
api/obj/api.csproj.nuget.g.props
api/obj/api.csproj.nuget.g.targets
api/obj/project.assets.json
api/obj/project.nuget.cache
api/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
api/obj/Debug/netcoreapp2.0/api.assets.cache
api/obj/Debug/netcoreapp2.0/api.csproj.AssemblyReference.cache
api/obj/Debug/netcoreapp2.0/api.GeneratedMSBuildEditorConfig.editorconfig
apiTests/bin/Debug/netcoreapp2.0/CoverletSourceRootsMapping
apiTests/obj/apiTests.csproj.nuget.dgspec.json
apiTests/obj/apiTests.csproj.nuget.g.props
apiTests/obj/apiTests.csproj.nuget.g.targets
apiTests/obj/project.assets.json
apiTests/obj/project.nuget.cache
apiTests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
apiTests/obj/Debug/net6.0/apiTests.AssemblyInfo.cs
apiTests/obj/Debug/net6.0/apiTests.AssemblyInfoInputs.cache
apiTests/obj/Debug/net6.0/apiTests.csproj.AssemblyReference.cache
apiTests/obj/Debug/net6.0/apiTests.GeneratedMSBuildEditorConfig.editorconfig
apiTests/obj/Debug/net6.0/apiTests.GlobalUsings.g.cs
apiTests/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
apiTests/obj/Debug/netcoreapp2.0/apiTests.AssemblyInfo.cs
apiTests/obj/Debug/netcoreapp2.0/apiTests.AssemblyInfoInputs.cache
apiTests/obj/Debug/netcoreapp2.0/apiTests.assets.cache
apiTests/obj/Debug/netcoreapp2.0/apiTests.csproj.AssemblyReference.cache
apiTests/obj/Debug/netcoreapp2.0/apiTests.GeneratedMSBuildEditorConfig.editorconfig
apiTests/obj/Debug/netcoreapp2.0/apiTests.GlobalUsings.g.cs
api/obj/api.csproj.nuget.g.props
api/obj/api.csproj.nuget.g.targets
api/obj/project.assets.json
api/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
api/obj/Debug/netcoreapp2.0/api.assets.cache
api/obj/Debug/netcoreapp2.0/api.GeneratedMSBuildEditorConfig.editorconfig
