TestApp/.vs/ProjectEvaluation/testapp.metadata.v5.2
TestApp/.vs/ProjectEvaluation/testapp.projects.v5.2
TestApp/.vs/TestApp/DesignTimeBuild/.dtbcache.v2
TestApp/.vs/TestApp/v17/.suo
TestApp/obj/project.assets.json
TestApp/obj/project.nuget.cache
TestApp/obj/TestApp.csproj.nuget.dgspec.json
TestApp/obj/TestApp.csproj.nuget.g.props
TestApp/obj/Debug/net6.0/apphost.exe
TestApp/obj/Debug/net6.0/TestApp.AssemblyInfo.cs
TestApp/obj/Debug/net6.0/TestApp.assets.cache
TestApp/obj/Debug/net6.0/TestApp.GeneratedMSBuildEditorConfig.editorconfig
TestApp/obj/Debug/net6.0/TestApp.RazorAssemblyInfo.cs
TestApp/.vs/ProjectEvaluation/testapp.metadata.v5.2
TestApp/.vs/ProjectEvaluation/testapp.projects.v5.2
TestApp/.vs/TestApp/DesignTimeBuild/.dtbcache.v2
TestApp/.vs/TestApp/v17/.suo
TestApp/obj/project.assets.json
TestApp/obj/project.nuget.cache
TestApp/obj/TestApp.csproj.nuget.dgspec.json
TestApp/obj/TestApp.csproj.nuget.g.props
TestApp/obj/Debug/net6.0/apphost.exe
TestApp/obj/Debug/net6.0/TestApp.AssemblyInfo.cs
TestApp/obj/Debug/net6.0/TestApp.assets.cache
TestApp/obj/Debug/net6.0/TestApp.GeneratedMSBuildEditorConfig.editorconfig
TestApp/obj/Debug/net6.0/TestApp.RazorAssemblyInfo.cs
TestApp/.vs/ProjectEvaluation/testapp.metadata.v5.2
TestApp/.vs/ProjectEvaluation/testapp.projects.v5.2
TestApp/.vs/TestApp/DesignTimeBuild/.dtbcache.v2
TestApp/.vs/TestApp/v17/.suo
TestApp/obj/project.assets.json
TestApp/obj/project.nuget.cache
TestApp/obj/TestApp.csproj.nuget.dgspec.json
TestApp/obj/TestApp.csproj.nuget.g.props
TestApp/obj/Debug/net6.0/apphost.exe
TestApp/obj/Debug/net6.0/TestApp.AssemblyInfo.cs
TestApp/obj/Debug/net6.0/TestApp.assets.cache
TestApp/obj/Debug/net6.0/TestApp.GeneratedMSBuildEditorConfig.editorconfig
TestApp/obj/Debug/net6.0/TestApp.RazorAssemblyInfo.cs
